<div class="container-control">
    <div class="prender-robot">
        <span class="title">RCJA Se encuentra <b *ngIf="!isChecked">Apagado</b> <b *ngIf="isChecked">Encendido</b> </span>
        <div class="encender">
            <input type="checkbox" id="switch" [(ngModel)]="isChecked"(ngModelChange)="onToggle()" /><label for="switch">Toggle</label>
        </div>

    </div>
    <div class="select-modo">
        <span class="title">Seleccione el modo de operación</span>
        <div class="container-modos">
            <div class="modo">
                <span>Puntos definidos</span>
            </div>
            <div class="modo">
                <span>Marchas definidas</span>
            </div>
            <div class="modo">
                <span>Modo manual</span>
            </div>
        </div>
    </div>
    <div class="container-modo-selected">
        <div class="content-modo">
            <span class="title">container-modo</span>
        </div>
    </div>
    <div class="container-chart">
        <div class="content-chart">
            <span class="title">chart</span>
        </div>
    </div>
</div>